.venv/
.tmp/
.localappdata/
__pycache__/
*.pyc
build/
dist/
settings.ini
desktop.ini

*.db
*.sqlite
*.sqlite3

*.png
*.jpg
*.jpeg
*.bmp
*.gif
*.ico
!app_icon.ico
!Sozai/
Sozai/*.png
!Sozai/required_images.txt
